﻿@model IEnumerable<ShopDienTu.Models.LoaiSanPhamViewModel>

@{
    ViewBag.Title = "DanhSachDanhMuc";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách danh mục</h2>
<br><br>
<p>
    @*<a href="@Url.Action("ThemDanhMuc",null,new {@class= "btn-btn succses" })">Thêm danh mục</a>*@
    @Html.ActionLink("Add", "ThemDanhMuc", null, new { @class = "btn btn-success" })
</p>
<br><br>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Mã loại sản phẩm")
        </th>
        <th>
            @Html.DisplayName("Tên loại")
        </th>
        <th>
            @Html.DisplayName("Icon")
        </th>
        <th>
            @Html.DisplayName("Bí danh")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoaiSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BiDanh)
            </td>
            <td>
                @Html.ActionLink("Update", "SuaDanhMuc", new { id = item.MaLoaiSP }) |
                @Html.ActionLink("Delete", "XoaDanhMuc", new { id = item.MaLoaiSP }, new { @class = "btnDelete", onclick = "return confirm('Bạn có muốn xóa danh mục ?')" })
            </td>
        </tr>
    }

</table>

