﻿
<div class="well well-small">
    <a id="myCart" href="/gio-hang">
        <img src="~/Assets/Client/themes/images/ico-cart.png" alt="cart">@ViewBag.TongSoLuong sản phẩm trong giỏ hàng  <span class="badge badge-warning pull-right">@ViewBag.TongSoLuong</span>
    </a>
</div>
