﻿@model ShopDienTu.Models.CartViewModel
@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@section jsFooter
{
    <script src="~/Assets/Client/js/cart.js"></script>
    <script src="~/Assets/Admin/js/common/formatCurrency.js"></script>
}

<ul class="breadcrumb">
    <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
    <li class="active"> SHOPPING CART</li>
</ul>

@if (Model.LstCart == null)
{
    <h1>Giỏ hàng rỗng</h1>
}
else
{
    <h3>  Giỏ hàng [ <small><i id="idSoLuong">@Model.LstCart.Sum(x => x.SoLuong)</i> sản phẩm</small>]<a href="/" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Tiếp tục mua sắm </a></h3>
    <hr class="soft" />

    if (Session[ShopDienTu.Common.CommonConstants.USER_SESSION] == null)
    {
        <div class="col-md-6">
            <div class="col-md-6">
                <div style="float:left;">
                    <table class="table table-bordered">
                        <tr><th> BẠN ĐÃ CÓ TÀI KHOẢN ĐỂ ĐƯỢC ƯU ĐÃI </th></tr>
                        <tr>
                            <td>
                                @using (Ajax.BeginForm("DangNhap", "ThanhVien", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Ketqua1", InsertionMode = InsertionMode.Replace }))
                                {
                                    <div class="control-group">
                                        <label class="control-label" for="inputUsername">Tài khoản</label>
                                        <div class="controls">
                                            <input type="text" id="inputUsername" placeholder="Tài khoản" name="TaiKhoan">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="inputPassword1">Mật khẩu</label>
                                        <div class="controls">
                                            <input type="password" id="inputPassword1" placeholder="Mật khẩu" name="MatKhau">
                                        </div>
                                    </div>
                                    <div id="Ketqua1" style="font-weight:bold;color:red;text-align:center"></div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button type="submit" class="btn" name="type" value="btnCartLogin">Đăng nhập</button>
                                        </div>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
    using (Html.BeginForm("MyAction", "Cart", FormMethod.Post, new { @class = "form-horizontal", id = "frm_DatHang" }))
    {
        if (Session[ShopDienTu.Common.CommonConstants.USER_SESSION] == null)
        {
            <div class="col-md-6">
                <div class="pull-right">
                    <table class="table table-bordered">
                        <tr><th> MUA HÀNG KHÔNG CẦN ĐĂNG NHẬP  </th></tr>
                        <tr>
                            <td>
                                <form>
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="control-group">
                                        <label class="control-label" for="inputUsername">Họ tên</label>
                                        <div class="controls">
                                            <input type="text" id="inputUsername" placeholder="Họ tên" name="TenKH">
                                            @Html.ValidationMessageFor(model => model.KhachHangViewModel.TenKH, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="inputPassword1">Địa chỉ</label>
                                        <div class="controls">
                                            <input type="text" id="inputPassword1" placeholder="Địa chỉ" name="DiaChi">
                                            @Html.ValidationMessageFor(model => model.KhachHangViewModel.DiaChi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="inputUsername">Email</label>
                                        <div class="controls">
                                            <input type="email" id="inputUsername" placeholder="Email" name="Email">
                                            @Html.ValidationMessageFor(model => model.KhachHangViewModel.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="inputPassword1">Điện thoại</label>
                                        <div class="controls">
                                            <input type="text" id="inputPassword1" placeholder="Điện thoại" name="SoDienThoai">
                                            @Html.ValidationMessageFor(model => model.KhachHangViewModel.SoDienThoai, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        }
        <table class="table table-bordered">
            <thead>
                <tr class="trFirstChild" data-id="-1">
                    <th>Sản phẩm</th>
                    <th>Hình ảnh</th>
                    <th>Số lượng/Cập nhật</th>
                    <th>Giá</th>
                    <th>Giảm giá</th>
                    <th>Thuế</th>
                    <th>Tổng cộng</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.LstCart.Count; i++)
                    {
                    <tr class="trLstCart" data-id="@i">
                        <td style="display:none">
                            <input type="hidden" name="[@i].MaSP" value="@Model.LstCart[i].MaSP" class="masp" />
                        </td>
                        <td>
                            <input type="hidden" name="[@i].TenSP" value="@Model.LstCart[i].TenSP" class="tensp" />
                            <span>@Model.LstCart[i].TenSP</span>
                        </td>
                        <td>
                            <img width="60" src="@Model.LstCart[i].HinhAnh" alt="@Model.LstCart[i].TenSP" />
                            <input type="hidden" name="[@i].HinhAnh" value="@Model.LstCart[i].HinhAnh" class="hinhanh" />
                        </td>
                        <td>
                            <div class="input-append">
                                <input class="span1 soluong" readonly min="0" style="max-width:34px" value="@Model.LstCart[i].SoLuong" id="appendedInputButtons" size="16" type="number" name="[@i].SoLuong">
                                <button class="btn btn-minus" value="@i" type="button"><i class="icon-minus"></i></button>
                                <button class="btn btn-plus" value="@i" type="button"><i class="icon-plus"></i></button>
                                <button class="btn btn-danger btnDelete" type="button"><i class="icon-remove icon-white"></i></button>
                            </div>
                        </td>
                        <td>
                            <span>@Model.LstCart[i].DonGia.ToString("N0")</span>
                            <input type="hidden" name="[@i].DonGia" value="@Model.LstCart[i].DonGia" class="dongia" />
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>
                            @{ var txtThanhTien = "txtThanhTien" + i;}
                            <span id="idThanhTien" class="@txtThanhTien" data-id="@i">@Model.LstCart[i].ThanhTien.ToString("N0")</span>
                            <input type="hidden" name="[@i].ThanhTien" value="@Model.LstCart[i].ThanhTien" class="span2 thanhtien" readonly />
                        </td>
                    </tr>
                                }

                <tr>
                    <td colspan="6" style="text-align:right">Tổng giá:	</td>
                    <td id="txtTongGia"> @Model.LstCart.Sum(x => x.ThanhTien).ToString("N0")</td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align:right">Tổng giảm giá:	</td>
                    <td> 0</td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align:right">Tổng thuế:	</td>
                    <td> 0</td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align:right"><strong>Tổng cộng (<i id="so">@Model.LstCart.Sum(x => x.ThanhTien).ToString("N0")</i> - 0 + 0 )=</strong></td>
                    <td class="label label-important" style="display:block"> <strong id="txtTongCong"> @Model.LstCart.Sum(x => x.ThanhTien).ToString("N0") </strong></td>
                </tr>
            </tbody>
        </table>

        @*<a href="javascript:{}" onclick="document.getElementById('frm_DatHang').submit();" class="btn btn-large pull-right">Đặt hàng <i class="icon-arrow-right"></i></a>
            <a href="javascript:{}" onclick="document.getElementById('frm_DatHang').submit();" class="btn btn-large pull-right">Cập nhật</a>*@

                                <input type="submit" class="btn btn-large pull-right" id="btnDatHang" name="submitButton" value="Đặt hàng" />
                                <input type="submit" class="btn btn-large pull-right" id="btnCapNhat" name="submitButton" value="Cập nhật" disabled />

                                    }
                                }
