﻿@model PagedList.IPagedList<ShopDienTu.Models.SanPhamViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "DanhSachSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh Sách Sản Phẩm</h2>
<br><br>
<p style="float:left;padding-right:200px">
    @Html.ActionLink("Add", "ThemSanPham", null, new { @class = "btn btn-success" })
    @Ajax.ActionLink("List product out of stock", "SapHetHang", null, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "KetQua", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-success" })
</p>
<p style="margin-top:5px">
    @using (Ajax.BeginForm("TimKiemSanPham", "QuanLySanPham", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "KetQua", InsertionMode = InsertionMode.Replace }))
    {
        <input type="text" id="txtTimKiem" value="" name="sTuKhoa" placeholder="Nhập vào tên sản phẩm" />
        <input type="submit" value="Search" class="btn btn-primary" />
    }
</p>
<br><br>
<div id="KetQua">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().TenSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().SoLuongTon)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSP)
                </td>
                <td>
                    <img src="@item.HinhAnh" alt="@item.TenSP" style="width:150px;height:100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongTon)
                </td>
                <td>
                    @Html.ActionLink("Update", "SuaSanPham", new { id = item.MaSP }) |
                    @Html.ActionLink("Delete", "XoaSanPham", new { id = item.MaSP }, new { @class = "btnDelete", onclick = "return confirm('Bạn có muốn xóa san pham ?')" })
                </td>
            </tr>
        }
    </table>
    <div class="dlink">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("TimKiemSanPham", new { page = page }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "KetQua", InsertionMode = InsertionMode.Replace }))
    </div>

</div>
