﻿@model PagedList.IPagedList<ShopDienTu.Models.SanPhamViewModel>
@using PagedList.Mvc;

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().HinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SoLuongTon)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                <img src="@item.HinhAnh" alt="@item.TenSP" style="width:150px;height:100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @*@Html.ActionLink("Nhập Hàng", "SuaSanPham",new {id=item.MaSP})*@
                <a href="/Admin/QuanLyNhapHang/NhapHangDon/@item.MaSP" class="btn btn-primary">Import</a>
            </td>
        </tr>
    }
</table>
<div class="dlink">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("SapHetHang", new { page = page, sTuKhoa = ViewBag.TuKhoa }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "KetQua", InsertionMode = InsertionMode.Replace }))

</div>

