﻿@using System.Web.Script.Serialization;
@model ShopDienTu.Models.SanPhamViewModel

@{
    ViewBag.Title = "SuaSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    var img = new JavaScriptSerializer().Deserialize<List<string>>(Model.HinhAnh1);
}

<h2>SuaSanPham</h2>
<br><br>
@section jsFooter{
    <script>
        var arrImg = @Html.Raw(Model.HinhAnh1);
        var editor = CKEDITOR.replace('txtMoTa', {
            customConfig: '/Assets/Admin/js/plugins/ckeditor/config.js'
        });
        var editor1 = CKEDITOR.replace('txtCauHinh', {
            customConfig: '/Assets/Admin/js/plugins/ckeditor/config.js'
        });
        $(document).ready(function () {

            var dongia = formatCurrency(@Model.DonGia);

            $('#tempDonGia').attr('value', dongia);

            $('#btnSelectImage').on('click', function (e) {
                e.preventDefault();
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    $('#imgHinhAnh').prop({ src: url, style: "width:150px;height:150px" });
                    $('#txtHinhAnh').val(url);
                }
                finder.popup();
            })
            $('#btnSelectImage1').on('click', function (e) {
                e.preventDefault();
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    //$('#imgHinhAnh').prop({ src: url, style: "width:150px;height:150px" });
                    $('#imgGroup').append(
                       $('<img />').attr({ // Same, create the element and specify its attributes
                           'src': url,
                           'width': '150px',
                           'height': '100px'
                       })
                   )
                    arrImg.push(url);
                }
                finder.popup();
            })
            $('#btnSubmit').on('click', function () {
                $('#imgGroup').append(
                       $('<input />').attr({ // Same, create the element and specify its attributes
                           'value': JSON.stringify(arrImg),
                           'name': 'HinhAnh1'
                       })
                )
                dongia = $('#tempDonGia').val();
                dongia = dongia.replace(/\$|\,/g, '');
                $('#txtDonGia').attr('value', dongia);
            })
        })
    </script>


    <script src="~/Assets/Admin/js/common/formatCurrency.js"></script>
}
@using (Html.BeginForm("SuaSanPham", "QuanLySanPham", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaSP)
        <div class="form-group">
            @Html.LabelFor(model => model.TenSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="text" class="form-control" id="tempDonGia" value="" onkeyup="FormatNumber(this)" />
                @Html.HiddenFor(model => model.DonGia, new { htmlAttributes = new { @type = "number" }, id = "txtDonGia" })
                @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CauHinh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.CauHinh, new { htmlAttributes = new { @class = "form-control" }, id = "txtCauHinh" })
                @Html.ValidationMessageFor(model => model.CauHinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" }, id = "txtMoTa" })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoLuongTon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input readonly type="number" value="@Model.SoLuongTon" name="SoLuongTon" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="@Model.HinhAnh" id="imgHinhAnh" style="width:150px;height:100px" />
                <input type="hidden" name="HinhAnh" id="txtHinhAnh" value="@Model.HinhAnh" />
                <br />
                <button id="btnSelectImage">Chọn ảnh</button>
                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="imgGroup">
                    @foreach (var imgs in img)
                    {
                        <img src="@imgs" id="imgHinhAnh" style="width:150px;height:100px" />
                    }
                </div>
                <br />
                <button id="btnSelectImage1">Chọn ảnh</button>
                @Html.ValidationMessageFor(model => model.HinhAnh1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNCC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNCC", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaNCC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNSX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNSX", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaNSX, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaLoaiSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaLoaiSP", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaLoaiSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Moi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.Moi, new { @checked = "checked" })
                @Html.ValidationMessageFor(model => model.Moi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Home, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.Home, new { @checked = "checked" })
                @Html.ValidationMessageFor(model => model.Home, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DaXoa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.DaXoa)
                @Html.ValidationMessageFor(model => model.DaXoa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" id="btnSubmit" onclick="return confirm('Bạn có muốn sua san pham ?')" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back", "Index")
</div>

