﻿@using System.Collections.Generic
@model ShopDienTu.Models.SanPhamViewModel

@{
    ViewBag.Title = "ThemSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm Sản Phẩm</h2>
<br><br>
@section jsFooter{
    <script>
        var arrImg = [];

        var editor = CKEDITOR.replace('txtMoTa', {
            customConfig: '/Assets/Admin/js/plugins/ckeditor/config.js'
        });
        var editor1 = CKEDITOR.replace('txtCauHinh', {
            customConfig: '/Assets/Admin/js/plugins/ckeditor/config.js'
        });
        $(document).ready(function () {
            $('#btnSelectImage').on('click', function (e) {
                e.preventDefault();
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    $('#imgHinhAnh').prop({ src: url, style: "width:150px;height:100px" });
                    $('#txtHinhAnh').val(url);
                }
                finder.popup();
            })
            $('#btnSelectImage1').on('click', function (e) {
                e.preventDefault();
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    //$('#imgHinhAnh').prop({ src: url, style: "width:150px;height:150px" });
                    $('#imgGroup').append(
                       $('<img />').attr({ // Same, create the element and specify its attributes
                           'src': url,
                           'width': '150px',
                           'height': '100px'
                       })
                   )
                    arrImg.push(url);
                }
                finder.popup();
            })
            $('#btnSubmit').on('click', function () {
                $('#imgGroup').append(
                       $('<input />').attr({ // Same, create the element and specify its attributes
                           'value': JSON.stringify(arrImg),
                           'name': 'HinhAnh1'
                       })
                )

                var dongia = $('#tempDonGia').val();
                var dongia = dongia.replace(/\$|\,/g, '');
                $('#txtDonGia').attr('value', dongia);
            })
        })
    </script>


    <script src="~/Assets/Admin/js/common/formatCurrency.js"></script>
}

@using (Html.BeginForm("ThemSanPham", "QuanLySanPham", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TenSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" }, id = "txtTen" })
                @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.Editor("Đơn giá", new { htmlAttributes = new { @class = "form-control", @onkeyup = "FormatNumber(this)" },id="tempDonGia"})*@
                @*@Html.Editor("hihi",new { htmlAttributes = new { @class = "form-control",@type="number"},id="tempDonGia"})*@
                <input type="text" class="form-control" id="tempDonGia" value="" onkeyup="FormatNumber(this)" />
                @Html.HiddenFor(model => model.DonGia, new { htmlAttributes = new { @type = "number" }, id = "txtDonGia" })
                @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CauHinh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.CauHinh, new { htmlAttributes = new { @class = "form-control" }, id = "txtCauHinh" })
                @Html.ValidationMessageFor(model => model.CauHinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" }, id = "txtMoTa" })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="" id="imgHinhAnh" />
                <input type="hidden" name="HinhAnh" id="txtHinhAnh" />
                <br />
                <button id="btnSelectImage">Chọn ảnh</button>
                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="imgGroup">
                </div>
                <br />
                <button id="btnSelectImage1">Chọn ảnh</button>
                @Html.ValidationMessageFor(model => model.HinhAnh1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNCC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNCC", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaNCC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNSX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNSX", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaNSX, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaLoaiSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaLoaiSP", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaLoaiSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Moi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.Moi, new { @checked = "checked" })
                @Html.ValidationMessageFor(model => model.Moi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Home, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.Home, new { @checked = "checked" })
                @Html.ValidationMessageFor(model => model.Home, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DaXoa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.DaXoa)
                @Html.ValidationMessageFor(model => model.DaXoa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" id="btnSubmit" onclick="return confirm('Bạn có muốn them san pham ?')" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back", "Index")
</div>
