﻿@model ShopDienTu.Models.SanPhamViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var lstRelatedProduct = ViewBag.RelatedProduct as IEnumerable<ShopDienTu.Models.SanPhamViewModel>;
}
<ul class="breadcrumb">
    <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
    <li><a href="/san-pham-@Model.NhaSanXuat.MaNSX">Sản phẩm</a> <span class="divider">/</span></li>
    <li class="active">Thông tin sản phẩm</li>
</ul>
<div class="row">
    <div id="gallery" class="span3">
        <a href="@Model.HinhAnh" title=@Model.TenSP>
            <img src="@Model.HinhAnh" style="width:280px;height:200px" alt="@Model.TenSP">
        </a>
        <div id="differentview" class="moreOptopm carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    @{
                        var moreImage = (List<string>)ViewBag.MoreImage;
                        for (var i = 0; i < 3; i++)
                        {
                            <a href="@moreImage[i]"> <img style="width:30%" src="@moreImage[i]" alt=""></a>
                        }
                    }
                </div>
                <div class="item" style="display:none">
                    @{
                        for (var j = 3; j < moreImage.Count; j++)
                        {
                            <a href="@moreImage[j]"> <img style="width:29%" src="@moreImage[j]" alt=""></a>
                        }
                    }
                </div>
            </div>

            @*<a class="left carousel-control" href="#mycarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#mycarousel" data-slide="next">›</a>*@

        </div>


    </div>
    <div class="span6">
        <h3>@Model.TenSP</h3>
        <hr class="soft">
        <form class="form-horizontal qtyFrm">
            <div class="control-group">
                <label class="control-label"><span>@Model.DonGia.ToString("N0") VND</span></label>
                <div class="controls">
                    <a href="@Url.Action("AddCart","Cart",new {@MaSP = Model.MaSP,@strUrl = Request.Url.ToString() })" class="btn btn-large btn-primary pull-right"> Thêm vào <i class="icon-shopping-cart"></i></a>
                </div>
            </div>
        </form>

        <hr class="soft">
        <h4>@Model.SoLuongTon sản phẩm trong kho</h4>
        <hr class="soft clr">
        @*<p>
                <h2>Thông tin cấu hình</h2>
                @Html.Raw(@Model.CauHinh)
            </p>
            <a class="btn btn-small pull-right" href="#detail">More Details</a>
            <br class="clr">
            <a href="#" name="detail"></a>
            <hr class="soft">*@
    </div>

    <div class="span9">
        <ul id="productDetail" class="nav nav-tabs">
            <li class="active"><a href="#detail" data-toggle="tab">Thông số kỹ thuật</a></li>
            <li><a href="#info" data-toggle="tab">Đánh giá</a></li>
            <li><a href="#related" data-toggle="tab">Sản phẩm liên quan</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="detail">
                @Html.Raw(Model.CauHinh)
            </div>
            <div class="tab-pane fade" id="related">
                <div id="myTab" class="pull-right">
                    <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
                    <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
                </div>
                <br class="clr">
                <hr class="soft">
                <div class="tab-content">
                    <div class="tab-pane" id="listView">
                        @foreach (var product in lstRelatedProduct)
                        {
                            var url = "/chi-tiet-san-pham-" + product.NhaSanXuat.TenNSX + "-" + product.MaSP;
                            <div class="row">
                                <div class="span2">
                                    <img src="@product.HinhAnh" alt="@product.TenSP">
                                </div>
                                <div class="span4">
                                    <h3>@product.TenSP</h3>
                                    <hr class="soft">

                                    <a class="btn btn-small pull-right" href="@url">View Details</a>
                                    <br class="clr">
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3>@product.DonGia.ToString("N0") VND</h3>
                                        <div class="btn-group">
                                            <a href="@url" class="btn btn-large btn-primary"> Thêm vào <i class="icon-shopping-cart"></i></a>
                                            <a href="@url" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr class="soft">
                        }
                    </div>
                    <div class="tab-pane active" id="blockView">
                        <ul class="thumbnails">
                            @foreach (var product in lstRelatedProduct)
                            {
                                var url = "/chi-tiet-san-pham-" + product.NhaSanXuat.TenNSX + "-" + product.MaSP;
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="@url"><img src="@product.HinhAnh" alt="@product.TenSP"></a>
                                        <div class="caption">
                                            <h5>@product.TenSP</h5>
                                            <h4 style="text-align:center"><a class="btn" href="@url"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a><br> <a class="btn btn-primary" href="#">@product.DonGia.ToString("N0")</a></h4>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                        <hr class="soft">
                    </div>
                </div>
                <br class="clr">
            </div>
            <div class="tab-pane fade" id="info">
                <h3>Đặc điểm nổi bật của @Model.TenSP</h3>
                @Html.Raw(Model.MoTa)
            </div>
        </div>
    </div>

</div>