﻿@model PagedList.IPagedList<ShopDienTu.Models.SanPhamViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Sản phẩm</li>
    </ul>
    <h3><small class="pull-right"> Có @ViewBag.TotalCount sản phẩm </small></h3>
    <hr class="soft">
    <hr class="soft">
    
    <div id="KetQua">
        <div id="myTab" class="pull-right">
            <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
            <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
        </div>
        <br class="clr">

        <div class="tab-content">
            <div class="tab-pane" id="listView">
                @foreach (var item in Model)
                {
                    var url = "/chi-tiet-san-pham-" + item.NhaSanXuat.TenNSX + "-" + item.MaSP;
                    <div class="row">
                        <div class="span2">
                            <img src="@item.HinhAnh" al alt="@item.TenSP">
                            >
                        </div>
                        <div class="span4">
                            <h3>@item.TenSP</h3>
                            <hr class="soft">

                            <a class="btn btn-small pull-right" href="@url">View Details</a>
                            <br class="clr">
                        </div>
                        <div class="span3 alignR">
                            <form class="form-horizontal qtyFrm">
                                <h3>@item.DonGia.ToString("N0") VND</h3>
                                <div class="btn-group">
                                    <a href="@Url.Action("AddCart","Cart",new {@MaSP = item.MaSP,@strUrl = "http://" + Request.Url.Host + ":" + Request.Url.Port + "/san-pham-" + item.MaNSX })" class="btn btn-large btn-primary"> Thêm vào <i class="icon-shopping-cart"></i></a>
                                    <a href="@url" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr class="soft">
                }
            </div>
            <div class="tab-pane active" id="blockView">
                <ul class="thumbnails">
                    @foreach (var item in Model)
                    {
                        var url = "/chi-tiet-san-pham-" + item.NhaSanXuat.TenNSX + "-" + item.MaSP;
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="@url"><img src="@item.HinhAnh" alt="@item.TenSP"></a>
                                <div class="caption">
                                    <h5>@item.TenSP</h5>
                                    <h4 style="text-align:center"><a class="btn" href="@url"> <i class="icon-zoom-in"></i></a> <a class="btn" href="@Url.Action("AddCart","Cart",new {@MaSP = item.MaSP,@strUrl = "http://" + Request.Url.Host + ":" + Request.Url.Port + "/san-pham-" + item.MaNSX  })">Thêm vào <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">@item.DonGia.ToString("N0")</a></h4>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <hr class="soft">
            </div>
        </div>
        <div class="pagination">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Search", "SanPham", new { page = page, flag = 2, keyword = ViewBag.Keyword }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "KetQua", InsertionMode = InsertionMode.Replace }))
        </div>
    </div>
</div>
