﻿@model ShopDienTu.Areas.Admin.Models.LoginModel
<html>
<head>
    <meta charset="UTF-8">
    <title>Login form shake effect</title>


    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link href="~/Assets/Admin/css/style1.css" rel="stylesheet" />
</head>
<body>
    <h1>Hoài Vương Shop</h1>
    <div class="login-form">
        @using (Html.BeginForm("Index", "DangNhap", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group ">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="text" class="form-control" placeholder="Tài khoản " name="TaiKhoan">
                @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
                <i class="fa fa-user"></i>
            </div>
            <div class="form-group log-status">
                <input type="password" class="form-control" placeholder="Mật khẩu" name="MatKhau">
                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                <i class="fa fa-lock"></i>
            </div>
            <h3 style="font-weight:bold;color:red;text-align:left" id="ThongBao"></h3>
            <a class="link" href="#">Lost your password?</a>
                <button type="submit" class="log-btn">Đăng nhập</button>

        }
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    @*<script src="~/Assets/Admin/js/jquery.unobtrusive-ajax.js"></script>*@
    @*<script src="~/Assets/Admin/js/index.js"></script>*@
</body>
</html>
