﻿@model ShopDienTu.Models.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div id="carouselBlk">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            @foreach (var item in Model.HotSlide)
            {
                if (item.ThuTu == 1)
                {
                    <div class="item active">
                        <div class="container">
                            <a href="@item.Url"><img style="width:60%;padding-right:300px" src="@item.HinhAnh" alt="@item.Ten" /></a>                            
                        </div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <div class="container">
                            <a href="@item.Url"><img style="width:60%;padding-right:300px" src="@item.HinhAnh" alt="@item.Ten" /></a>                           
                        </div>
                    </div>
                }
            }               
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>

<h4>Điện thoại mới nhất</h4>
<ul class="thumbnails">
    @foreach (var sp in Model.HotPhone)
    {
        var url = "/chi-tiet-san-pham-" + sp.NhaSanXuat.TenNSX + "-" + sp.MaSP; 
        <li class="span3">
            <div class="thumbnail">
                <i class="tag"></i>
                <a href="@url"><img src="@sp.HinhAnh" @*style="width:150px;height:100px"*@ alt="@sp.TenSP" /></a>
                <div class="caption">
                    <h5>@sp.TenSP</h5>
                    <h4 style="text-align:center"><a class="btn" href="@url"> <i class="icon-zoom-in"></i></a> <a class="btn" href="@Url.Action("AddCart","Cart",new {@MaSP = sp.MaSP,@strUrl = Request.Url.ToString() })">Thêm vào <i class="icon-shopping-cart"></i></a><br><a class="btn btn-primary" href="#">@sp.DonGia.ToString("N0")</a></h4>
                </div>
            </div>
        </li>
    }
</ul>

@*<h4>Laptop mới nhất</h4>
<ul class="thumbnails">
    @foreach (var item in Model.HotPhone)
    {
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html"><img src="@item.HinhAnh" style="width:150px;height:100px" alt="@item.TenSP" /></a>
                <div class="caption">
                    <h5>@item.TenSP</h5>
                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a><br><a class="btn btn-primary" href="#">@item.DonGia.ToString("N0")</a></h4>
                </div>
            </div>
        </li>
    }
</ul>*@

<h4>Máy tính bảng mới nhất</h4>
<ul class="thumbnails">
    @foreach (var sp in Model.HotTablet)
    {
        var url = "/chi-tiet-san-pham-" + sp.NhaSanXuat.TenNSX + "-" + sp.MaSP;
        <li class="span3">
            <div class="thumbnail">
                <a href="@url"><img src="@sp.HinhAnh" style="width:150px;height:100px" alt="@sp.TenSP" /></a>
                <div class="caption">
                    <h5>@sp.TenSP</h5>
                    <h4 style="text-align:center"><a class="btn" href="@url"> <i class="icon-zoom-in"></i></a> <a class="btn" href="@Url.Action("AddCart","Cart",new {@MaSP = sp.MaSP,@strUrl = Request.Url.ToString() })">Thêm vào <i class="icon-shopping-cart"></i></a><br><a class="btn btn-primary" href="#">@sp.DonGia.ToString("N0")</a></h4>
                </div>
            </div>
        </li>
    }
</ul>

