﻿@model IEnumerable<ShopDienTu.Models.NhaCungCapViewModel>

@{
    ViewBag.Title = "DanhSachNhaCC";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách nhà cung cấp</h2>
<br><br>
<p>
    @Html.ActionLink("Add", "ThemNhaCC", null, new { @class = "btn btn-success" })
</p>
<br><br>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenNCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.ActionLink("Update", "SuaNhaCC", new { id = item.MaNCC }) |
                @Html.ActionLink("Delete", "XoaNhaCC", new { id = item.MaNCC }, new { @class = "btnDelete", onclick = "return confirm('Bạn có muốn xóa nha cung cap ?')" })
            </td>
        </tr>
    }

</table>
