﻿@model ShopDienTu.Models.DonDatHangViewModel

@{
    ViewBag.Title = "DuyetDonHang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section jsFooter{
    <script>
    $('#btnIn').click(function () {
        var content = "<table>" + $('#table').html() + "</table>";
        InDonHang(content);
    })
    //Phương thức in
    function InDonHang(content) {
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(content);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }
</script>    
}

<h2>Thông tin đơn hàng <font color="#f65e84">@Model.KhachHang.TenKH</font></h2>
<br /><br /><br />

@using (Html.BeginForm())
{
    <div class="ChiTietDonHang table">
        <table class="table" id="table">
            @{IEnumerable<ShopDienTu.Models.ChiTietDonDatHangViewModel> lstCtdh = ViewBag.ListCTDH as IEnumerable<ShopDienTu.Models.ChiTietDonDatHangViewModel>;}
            @*Phần thông tin đơn hàng*@
            <tr>
                <td colspan="4">
                    <table style="width:100%;">
                        <tr>
                            <td>Mã đơn hàng: <b style="color:red;"> @Model.MaDDH @Html.Hidden("MaDDH", @Model.MaDDH)</b></td>
                            <td>Mã khách hàng: <b style="color:red;"> @Model.KhachHang.MaKH</b></td>
                            <td>Tên khách hàng: <b style="color:red;"> @Model.KhachHang.TenKH</b></td>
                            <td>Ngày đặt: @Model.NgayDat.ToString("dd/MM/yyyy")</td>
                            <td>Đã thanh toán: @Html.EditorFor(model => model.DaThanhToan)</td>
                            <td>Đã giao: @Html.EditorFor(model => model.TinhTrangGiaoHang)</td>
                        </tr>
                    </table>
                </td>
            </tr>
            @*Thông tin chi tiết đơn hàng*@
            <tr>
                <td><b>Sản phẩm</b></td>
                <td><b>Hình ảnh</b></td>
                <td><b>Số lượng đặt</b></td>
                <td><b>Đơn giá đặt</b></td>
            </tr>
            @foreach (var item in lstCtdh)
            {
                <tr>
                    <td><b>@item.TenSP</b></td>
                    <td><b><img src="@item.SanPham.HinhAnh"></b></td>
                    <td><b>@item.SoLuong</b></td>
                    <td><b>@item.DonGia.Value.ToString("#,##")</b></td>
                </tr>
            }
            <tr>
                <td align="right" colspan="4">Tổng số lượng: @Model.ChiTietDonDatHangs.Count() sản phẩm</td>
            </tr>
            <tr>
                <td align="right" colspan="4">Tổng tiền: @Model.ChiTietDonDatHangs.Sum(n => n.DonGia*n.SoLuong).Value.ToString("#,##") đồng</td>
            </tr>
        </table>
        <input type="button" value="Print order" id="btnIn" class="btn btn-danger" />
        <input type="submit" value="Save order" class="btn btn-success" />
        @Html.ActionLink("Crystal Report","Crystal","QuanLyDonHang", new { id = Model.MaDDH }, new {@class= "btn btn-warning" })

    </div>
}
