﻿@model ShopDienTu.Models.ListDonHangViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<nav>
    <ul class="cd-tabs-navigation">
        <li><a data-content="unpaid" class="selected fashion1" href="#0">Chưa thanh toán <i> </i></a></li>
        <li><a data-content="undelivery" href="#0">Chưa giao<i> </i></a></li>
        <li><a data-content="allsuccess" href="#0" class="fashion2">Đã giao đã thanh toán<i> </i></a></li>
        <div class="clearfix"></div>
    </ul>
</nav>

<ul class="cd-tabs-content" style="height: auto;">
    <li data-content="unpaid" class="selected">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Họ tên khách hàng</th>
                        <th>Ngày đặt</th>
                        <th>Tình trạng giao hàng</th>
                        <th>Số điện thoại</th>
                        <th>Đã thanh toán</th>
                        <th>Đã hủy</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.LstUnPaid)
                    {
                        <tr>
                            <td>@item.MaDDH</td>
                            <td>@item.KhachHang.TenKH</td>
                            <td>@item.NgayDat</td>
                            <td>@item.TinhTrangGiaoHang</td>
                            <td>@item.KhachHang.SoDienThoai</td>
                            <td>@item.DaThanhToan</td>
                            <td>@item.DaHuy</td>
                            <td>@Html.ActionLink("Duyệt","DuyetDonHang",new {id = item.MaDDH})</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </li>
    <li data-content="undelivery" class="">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Họ tên khách hàng</th>
                        <th>Ngày đặt</th>
                        <th>Tình trạng giao hàng</th>
                        <th>Số điện thoại</th>
                        <th>Đã thanh toán</th>
                        <th>Đã hủy</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.LstUnDelivery)
                    {
                        <tr>
                            <td>@item.MaDDH</td>
                            <td>@item.KhachHang.TenKH</td>
                            <td>@item.NgayDat</td>
                            <td>@item.TinhTrangGiaoHang</td>
                            <td>@item.KhachHang.SoDienThoai</td>
                            <td>@item.DaThanhToan</td>
                            <td>@item.DaHuy</td>
                            <td>@Html.ActionLink("Duyệt", "DuyetDonHang", new { id = item.MaDDH })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </li>
    <li data-content="allsuccess" class="">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Họ tên khách hàng</th>
                        <th>Ngày đặt</th>
                        <th>Tình trạng giao hàng</th>
                        <th>Số điện thoại</th>
                        <th>Đã thanh toán</th>
                        <th>Đã hủy</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.LstAllSuccess)
                    {
                        <tr>
                            <td>@item.MaDDH</td>
                            <td>@item.KhachHang.TenKH</td>
                            <td>@item.NgayDat</td>
                            <td>@item.TinhTrangGiaoHang</td>
                            <td>@item.KhachHang.SoDienThoai</td>
                            <td>@item.DaThanhToan</td>
                            <td>@item.DaHuy</td>
                            <td>@Html.ActionLink("Duyệt", "DuyetDonHang", new { id = item.MaDDH })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </li>
    <div class="clearfix"></div>
</ul>