﻿@model IEnumerable<ShopDienTu.Models.NhaSanXuatViewModel>

@{
    ViewBag.Title = "DanhSachNhaSX";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách nhà cung cấp</h2>
<br><br>
<p>
    @Html.ActionLink("Add", "ThemNhaSX", null, new { @class = "btn btn-success" })
</p>
<br><br>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenNSX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThongTin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNSX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThongTin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.ActionLink("Update", "SuaNhaSX", new { id = item.MaNSX }) |
                @Html.ActionLink("Delete", "XoaNhaSX", new { id = item.MaNSX }, new { @class = "btnDelete", onclick = "return confirm('Bạn có muốn xóa nha sản xuất ?')" })
            </td>
        </tr>
    }

</table>
