﻿
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Lỗi truy cập</h2>
<br><br>
<div class="alert alert-danger">
    Bạn không có quyền truy cập.
</div>