﻿@using ShopDienTu.Model.Model;
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Metro Panel Flat Bootstarp Resposive Website Template| Home :: w3layouts</title>
    <link href="~/Assets/Admin/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <link href="~/Assets/Admin/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <script src="~/Assets/Admin/js/jquery.min.js"></script>
    @*<link rel="stylesheet" href="~/Assets/Admin/css/font-awesome.css">*@
    <!-- Custom Theme files -->
    <link href="~/Assets/Admin/js/plugins/jqueri-ui/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Metro Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $(document).ready(function (c) {
            $('.alert-close').on('click', function (c) {
                $('.calender-left').fadeOut('slow', function (c) {
                    $('.calender-left').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close1').on('click', function (c) {
                $('.calender-right').fadeOut('slow', function (c) {
                    $('.calender-right').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close2').on('click', function (c) {
                $('.graph').fadeOut('slow', function (c) {
                    $('.graph').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close3').on('click', function (c) {
                $('.site-report').fadeOut('slow', function (c) {
                    $('.site-report').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close4').on('click', function (c) {
                $('.total-sale').fadeOut('slow', function (c) {
                    $('.total-sale').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close5').on('click', function (c) {
                $('.to-do').fadeOut('slow', function (c) {
                    $('.to-do').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close7').on('click', function (c) {
                $('.user-trends').fadeOut('slow', function (c) {
                    $('.user-trends').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close6').on('click', function (c) {
                $('.world-map').fadeOut('slow', function (c) {
                    $('.world-map').remove();
                });
            });
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48014931-1', 'codyhouse.co');
        ga('send', 'pageview');

        jQuery(document).ready(function ($) {
            $('.close-carbon-adv').on('click', function () {
                $('#carbonads-container').hide();
            });
        });
    </script>
    @*<script src="~/Assets/Admin/js/zingchart.min.js"></script>
        <script src="~/Assets/Admin/js/zingchart.jquery.js"></script>*@
    <script src="~/Assets/Admin/js/jquery.easydropdown.js"></script>
    <script src="~/Assets/Admin/js/jquery.nicescroll.js"></script>

    <link href="~/Assets/Admin/css/jqvmap.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="~/Assets/Admin/js/jquery.vmap.js" type="text/javascript"></script>
    <script src="~/Assets/Admin/js/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="~/Assets/Admin/js/jquery.vmap.sampledata.js" type="text/javascript"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: '#333333',
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#666666',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#C8EEFF', '#006491'],
                normalizeFunction: 'polynomial'
            });
        });
    </script>
    <!----Calender -------->
    <link rel="stylesheet" href="~/Assets/Admin/css/clndr.css" type="text/css" />
    <script src="~/Assets/Admin/js/underscore-min.js"></script>
    <script src="~/Assets/Admin/js/moment-2.2.1.js"></script>
    <script src="~/Assets/Admin/js/clndr.js"></script>
    <script src="~/Assets/Admin/js/site.js"></script>
    <script src="~/Assets/Admin/js/jquery.unobtrusive-ajax.js"></script>
    <!----End Calender -------->
    <script src="~/Assets/Admin/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab,#horizontalTab1,#horizontalTab2').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
    <link href="~/Assets/Admin/css/nav.css" rel="stylesheet" type="text/css" media="all" />

    @*<script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@

    <script src="~/Assets/Client/themes/js/jquery.js" type="text/javascript"></script>

    <script src="~/Assets/Admin/js/plugins/jqueri-ui/jquery-ui.js"></script>
    <script src="~/Assets/Admin/js/plugins/ckfinder/ckfinder.js"></script>
    <script src="~/Assets/Admin/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/Admin/js/main.js"></script> <!-- Resource jQuery -->
    <script src="~/Assets/Admin/js/common/alert.js"></script>
    <!-- chart -->
    <script src="~/Assets/Admin/js/Chart1.js"></script>
    <script src="~/Assets/Client/themes/js/bootstrap.min.js"></script>
    <script src="~/Assets/Admin/js/bootbox.min.js"></script>
    <!-- //chart -->
</head>
<body>
    <div class="total-content">
        <div class="col-md-3 side-bar">
            <div class="logo text-center">
                <a href="#"><img src="~/Assets/Admin/images/logo.png" alt="" /></a>
            </div>
            <div class="navigation">
                <h3>Featured</h3>
                <ul>
                    <li><a href="@Url.Action("Index", "QuanLyDanhMuc")"><i class="chat"></i></a></li>
                    <li><a href="@Url.Action("Index", "QuanLyDanhMuc")">Manage Category</a></li>
                </ul>
                <ul>
                    <li><a href="@Url.Action("Index", "QuanLyNhaCungCap")"><i class="chat"></i></a></li>
                    <li><a href="@Url.Action("Index", "QuanLyNhaCungCap")">Manage Provider</a></li>
                </ul>
                <ul>
                    <li><a href="@Url.Action("Index", "QuanLyNhaSanXuat")"><i class="chat"></i></a></li>
                    <li><a href="@Url.Action("Index", "QuanLyNhaSanXuat")">Manage Manufacturer</a></li>
                </ul>
                <ul>
                    <li><a href="@Url.Action("Index", "QuanLySanPham")"><i class="art"></i></a></li>
                    <li><a href="@Url.Action("Index", "QuanLySanPham")">Manage Product</a></li>

                </ul>
                <ul>
                    <li><a href="@Url.Action("Index", "QuanLyNhapHang")"><i class="art"></i></a></li>
                    <li><a href="@Url.Action("Index", "QuanLyNhapHang")">Manage Import</a></li>

                </ul>
                <ul>
                    <li><a href="@Url.Action("Index", "QuanLyDonHang")"><i class="art"></i></a></li>
                    <li><a href="@Url.Action("Index", "QuanLyDonHang")">Manage Order</a></li>

                </ul>
                <ul>
                    <li><a href="@Url.Action("Index", "QuanLyPhanQuyen")"><i class="art"></i></a></li>
                    <li><a href="@Url.Action("Index", "QuanLyPhanQuyen")">Manage Role</a></li>
                </ul>
                <ul>
                    <li><a href="@Url.Action("Index", "ThongKe")"><i class="rev"></i></a></li>
                    <li><a href="@Url.Action("Index", "ThongKe")">Manage Statistic</a></li>
                </ul>
            </div>
            <div class="navigation">
                <h3>navigation</h3>
                <ul>
                    <li><a href="#"><i class="dash"></i></a></li>
                    <li><a href="#">dashboard</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="mail"></i></a></li>
                    <li><a href="#">emails</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="cal"></i></a></li>
                    <li><a href="#">calendar</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="page"></i></a></li>
                    <li><a href="#">pages</a></li>
                </ul>
            </div>
            <div class="navigation">
                <h3>all others</h3>
                <ul>
                    <li><a href="#"><i class="rev"></i></a></li>
                    <li><a href="#">revenue</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="pic"></i></a></li>
                    <li><a href="#">pictures</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="faq"></i></a></li>
                    <li><a href="#">faqs</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 content">
            @*<p class="home"><a href="#">Home</a> > <strong> Dashboard</strong>
                </p>*@
            @{
                var session = (ShopDienTu.Common.UserLogin)Session[ShopDienTu.Common.CommonConstants.ADMIN_SESSION];
                if (session != null)
                {
                    <p class="home">
                        <strong>Chào @session.Name</strong>
                        <div style="float:left">@Html.ActionLink("Đăng Xuất", "DangXuat", "DangNhap", null, new { @class = "btn btn-primary" })</div>
                    </p>
                }
            }
            <br><br>
            
            @if (TempData["AlertMessage"] != null)
            {
                <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                    @TempData["AlertMessage"]
                </div>
            }
            @RenderBody()
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="footer">
        <div class="copyright text-center">
            <p>&copy; 2015 All rights reserved | Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
        </div>
    </div>
</body>
@RenderSection("jsFooter", required: false)
</html>