﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="list_of_members">
    <a href="/Admin/ThongKe/TotalPrefit">
        <div class="sales">
            <div class="icon-text">
                <h3>Total Prefix</h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </a>
    <div class="new-users">
        <div class="icon">
            <i class="user1"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.TongThanhVien</h3>
            <p>New Users</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <a href="/Admin/ThongKe/TotalExpenditure">
        <div class="orders">
            <div class="icon-text">
                <h3 style="text-align:center">Total Expenditure</h3>
            </div>
            <div class="clearfix"></div>
        </div>  
    </a>
    <div class="visitors">
        <div class="icon">
            <i class="visit"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.Visitor</h3>
            <p>Visits</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    @*<div class="visitors">
        <div class="icon">
            <i class="visit"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.Online</h3>
            <p>Online</p>
        </div>
        <div class="clearfix"></div>
    </div>*@
</div>

@*<nav>
        <ul class="cd-tabs-navigation">
            <li><a data-content="best_selling" class="selected fashion1" href="#0">Best Selling <i> </i></a></li>
            <li><a data-content="profit" href="#0">Total Profit<i> </i></a></li>
            <li><a data-content="visiter" href="#0" class="fashion2">Total Visiter<i> </i></a></li>
            <div class="clearfix"></div>
        </ul>
    </nav>*@

@*<ul class="cd-tabs-content" style="height: auto;">
        <li data-content="best_selling" class="selected">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Họ tên khách hàng</th>
                            <th>Ngày đặt</th>
                            <th>Tình trạng giao hàng</th>
                            <th>Số điện thoại</th>
                            <th>Đã thanh toán</th>
                            <th>Đã hủy</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LstUnPaid)
                        {
                            <tr>
                                <td>@item.MaDDH</td>
                                <td>@item.KhachHang.TenKH</td>
                                <td>@item.NgayDat</td>
                                <td>@item.TinhTrangGiaoHang</td>
                                <td>@item.KhachHang.SoDienThoai</td>
                                <td>@item.DaThanhToan</td>
                                <td>@item.DaHuy</td>
                                <td>@Html.ActionLink("Duyệt", "DuyetDonHang", new { id = item.MaDDH })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </li>
        <li data-content="profit" class="">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Họ tên khách hàng</th>
                            <th>Ngày đặt</th>
                            <th>Tình trạng giao hàng</th>
                            <th>Số điện thoại</th>
                            <th>Đã thanh toán</th>
                            <th>Đã hủy</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LstUnDelivery)
                        {
                            <tr>
                                <td>@item.MaDDH</td>
                                <td>@item.KhachHang.TenKH</td>
                                <td>@item.NgayDat</td>
                                <td>@item.TinhTrangGiaoHang</td>
                                <td>@item.KhachHang.SoDienThoai</td>
                                <td>@item.DaThanhToan</td>
                                <td>@item.DaHuy</td>
                                <td>@Html.ActionLink("Duyệt", "DuyetDonHang", new { id = item.MaDDH })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </li>
        <li data-content="visiter" class="">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Họ tên khách hàng</th>
                            <th>Ngày đặt</th>
                            <th>Tình trạng giao hàng</th>
                            <th>Số điện thoại</th>
                            <th>Đã thanh toán</th>
                            <th>Đã hủy</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LstAllSuccess)
                        {
                            <tr>
                                <td>@item.MaDDH</td>
                                <td>@item.KhachHang.TenKH</td>
                                <td>@item.NgayDat</td>
                                <td>@item.TinhTrangGiaoHang</td>
                                <td>@item.KhachHang.SoDienThoai</td>
                                <td>@item.DaThanhToan</td>
                                <td>@item.DaHuy</td>
                                <td>@Html.ActionLink("Duyệt", "DuyetDonHang", new { id = item.MaDDH })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </li>
        <div class="clearfix"></div>
    </ul>*@

