﻿@model IEnumerable<ShopDienTu.Model.Model.ChiTietPhieuNhap>

<div id="tbl">
    <table class="table" style="width:100%">
        <tr><td colspan="6"><p style="text-align:center;font-size:20px;color:dodgerblue">BẢNG THỐNG KÊ TỔNG CHI @ViewBag.FromDate - @ViewBag.ToDate</p></td></tr>
        <tr>
            <td colspan="6">
                <table style="width:100%;">
                    <tr>
                        @{var admin = (ShopDienTu.Common.UserLogin)Session[ShopDienTu.Common.CommonConstants.ADMIN_SESSION];}
                        <td colspan="3">Người thống kê: <b style="color:red;">@admin.Name</b><input type="hidden" value="daddadasadasda" /></td>
                        <td colspan="3">Ngày thống kê:<b style="color:red;">@DateTime.Now.ToShortDateString()</b></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td><b>Ngày</b></td>
            <td><b>Chi</b></td>
        </tr>
        @foreach (var item in Model.GroupBy(x=>x.PhieuNhap))
        {
            <tr>
                <td>@item.Key.NgayNhap</td>
                <td>@item.Key.ChiTietPhieuNhaps.Sum(x=>x.SoLuongNhap*x.DonGiaNhap).ToString("#,##")</td>
            </tr>
        }

        <tr>
            <td align="right" colspan="4">Tổng Chi: @Model.Sum(x => x.SoLuongNhap * x.DonGiaNhap).ToString("#,##") đồng</td>
        </tr>
    </table>
</div>