﻿@model IEnumerable<ShopDienTu.Model.Model.BenefitModel>

<div id="tbl">
    <table class="table" style="width:100%">
        <tr><td colspan="6"><p style="text-align:center;font-size:20px;color:dodgerblue">BẢNG THỐNG KÊ DOANH THU LỢI NHUẬN @ViewBag.FromDate - @ViewBag.ToDate</p></td></tr>
        <tr>
            <td colspan="6">
                <table style="width:100%;">
                    <tr>
                        @{var admin = (ShopDienTu.Common.UserLogin)Session[ShopDienTu.Common.CommonConstants.ADMIN_SESSION];}
                        <td colspan="3">Người thống kê: <b style="color:red;">@admin.Name</b><input type="hidden" value="daddadasadasda" /></td>
                        <td colspan="3">Ngày thống kê:<b style="color:red;">@DateTime.Now.ToShortDateString()</b></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td><b>Ngày</b></td>
            <td><b>Doanh thu</b></td>
            <td><b>Lợi nhuận</b></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.Revenue.ToString("#,##")</td>
                <td>@item.Benefit.ToString("#,##")</td>
            </tr>
        }

        <tr>
            <td align="right" colspan="4">Tổng doanh thu: @Model.Sum(x => x.Revenue).ToString("#,##") đồng</td>
        </tr>
        <tr>
            <td align="right" colspan="4">Tổng lợi nhuận: @Model.Sum(n => n.Benefit).ToString("#,##") đồng</td>
        </tr>
    </table>
</div>