﻿
@{
    ViewBag.Title = "TotalPrefit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section jsFooter{  
    <script src="~/Assets/Admin/js/common/thongke.js"></script>
    <script>
        $('#btnGo').on('click', function () {
            $.ajax({
                type: 'GET',
                data: {
                    fromDate: $('.fromDate').val(),
                    toDate: $('.toDate').val(),
                    flag: 1
                },
                url: '@Url.Action("TotalPrefit", "ThongKe")',
                success: function (ketqua) {
                    $('#KetQua').html(ketqua);
                }
            })
        });
    </script>
}
<div class="col-md-12">
    <div class="col-md-4">
        <div class="col-md-4">Từ ngày</div>
        <div class="col-md-4">
            <input name="NgayNhap" type="text" class="fromDate" />
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="col-md-4">Đến ngày</div>
        <div class="col-md-4">
            <input name="NgayNhap" type="text" class="toDate" />
        </div>
    </div>
    <div class="col-md-2">
        <button id="btnGo" class="btn btn-primary">Go</button>
    </div>
    <div class="col-md-2">
        <button id="btnIn" class="btn btn-primary">Print</button>
    </div>
</div>
<br><br><br>
<div id="KetQua">

</div>
