﻿@model ShopDienTu.Models.PhieuNhapViewModel

@{
    ViewBag.Title = "EditImport";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}   

@section jsFooter{   
    <script src="~/Assets/Admin/js/common/sortSoLuongNhap.js"></script>
    <script src="~/Assets/Admin/js/common/thongke.js"></script>
}

@using (Html.BeginForm())
{
    <div class="ChiTietDonHang table">
        <table class="table" id="tbl">
            @{IEnumerable<ShopDienTu.Models.ChiTietPhieuNhapViewModel> lstCtpn = ViewBag.ListCTPN as List<ShopDienTu.Models.ChiTietPhieuNhapViewModel>;}
            @*Phần thông tin đơn hàng*@
            @*Thông tin chi tiết đơn hàng*@
            <tr>
                <td colspan="4">
                    <table style="width:100%;">
                        <tr>
                            <td>Mã phieu nhap: <b style="color:red;"> @Model.MaPN @Html.Hidden("MaPN", @Model.MaPN)</b></td>
                            <td>Tên nguoi lap: <b style="color:red;"> @ViewBag.Ten</b></td>
                            <td>Ngày nhap: @Model.NgayNhap.Value.ToString("dd/MM/yyyy")</td>
                            @if (Model.NgaySua.HasValue)
                            {
                                <td>Ngày sua: @Model.NgaySua.Value.ToString("dd/MM/yyyy")</td>
                            }
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><b>Sản phẩm</b></td>
                <td><b>Hình ảnh</b></td>
                <td><b>Số lượng nhap</b></td>
                <td><b>Đơn gia nhap</b></td>
            </tr>
            @foreach (var item in lstCtpn)
            {
                <tr>
                    <td><b>@item.SanPham.TenSP</b></td>
                    <td><b><img src="@item.SanPham.HinhAnh"></b></td>
                    <td class="tdSoLuongNhap">
                        <input class="txtSoLuongNhap" value="@item.SoLuongNhap" name="" type="number" min="1"/>
                    </td>
                    <td><b>@item.DonGiaNhap.ToString("#,##")</b></td>
                </tr>
            }
            <tr>
                <td align="right" colspan="4">Tổng số lượng: @lstCtpn.Count() sản phẩm</td>
            </tr>
            <tr>
                <td align="right" colspan="4">Tổng tiền: @lstCtpn.Sum(n => n.DonGiaNhap * n.SoLuongNhap).ToString("#,##") đồng</td>
            </tr>
        </table>
        <input type="button" value="Print" id="btnIn" class="btn btn-danger" />
        <input type="submit" id="btnUpdate" value="Update" class="btn btn-success" />

    </div>
                }
<div>
    @Html.ActionLink("Back", "Index")
</div>
