﻿@using ShopDienTu.Models;
@model PhieuNhapViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section jsFooter
{
    <script src="~/Assets/Admin/js/common/nhaphang.js"></script>
    <script src="~/Assets/Admin/js/common/formatCurrency.js"></script>
}

@{
    IEnumerable<NhaCungCapViewModel> lstNCC = ViewBag.MaNCC as IEnumerable<NhaCungCapViewModel>;
}

@Html.ActionLink("View Import", "ViewListImport", "QuanLyNhapHang", new { @class = "btn btn-primary" })

@using (Html.BeginForm("NhapHang", "QuanLyNhapHang", FormMethod.Post, new { @enctype = "multipart / form - data" }))
{
    <br>
    <div class="row">
        <div class="ThongtinPhieuNhap col-md-12">
            <div class="col-md-2">
                Nhà cung cấp
            </div>
            <div class="col-md-5">
                @*Chọn nhà cung cấp*@
                <select class="MaNCC" name="MaNCC">
                    @foreach (var item in lstNCC)
                    {
                        <option value="@item.MaNCC">@item.TenNCC</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <br />

    @*Ngày nhập*@
    @*<div class="col-md-2">Ngày nhập</div>
    <div class="col-md-5">
        <input name="NgayNhap" type="text" class="dateNhap" />
    </div>*@

    <div class="clearfix"></div>
    <br /><br /><br />
    <table class="table tblChiTietPhieuNhap">
        @{
            IEnumerable<SanPhamViewModel> lstSanPham = ViewBag.ListSanPham as IEnumerable<SanPhamViewModel>;
        }
        <tr class="trAppend" style="display:none">
            <td>
                <select class="ddlSanPham" name="">
                    @foreach (var item in lstSanPham)
                    {
                        <option value="@item.MaSP">@item.TenSP</option>
                    }
                </select>
            </td>
            <td>
                <input name="" class="txtDonGia" onkeyup="FormatNumber(this)" value="0" />
            </td>
            <td>
                <input name="" type="number" class="txtSoLuong" min="1" value="1" />
            </td>
            <td>
                <input name="" class="btnDelete btn-danger" style="height:30px;width:30px" value=" -" />
            </td>
        </tr>
        <tr class="trFirstChild" data-id="-1">
            <td>Sản phẩm</td>
            <td>Đơn giá</td>
            <td>Số lượng nhập</td>
        </tr>
    </table>

    <input type="button" value="+" class="btn btn-success" id="btnAdd" />
    <input type="submit" disabled value="Import List" class="btn btn-primary" id="btnNhapHang" onclick="return confirm('Bạn có muốn them danh sach don hang này khong ?')"/>
            }
