﻿@model ShopDienTu.Models.SanPhamViewModel

@{
    ViewBag.Title = "NhapHangDon";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<legend>Nhập đơn hàng cho sản phẩm @Model.TenSP</legend>

<br /><br />

<div class="row">
    <div class="col-md-3">
        <div class="imgSP">
            <img src="@Model.HinhAnh" style="width:150px;height:150px" />
        </div>
    </div>
    <div class="col-md-9">
        <div class="ttSP">
            <h3>Hãng sản suất: @Model.NhaSanXuat.TenNSX</h3>
            <h3>Loại sản phẩm: @Model.LoaiSanPham.TenLoai</h3>
            <h3>Số lượng tồn: @Model.SoLuongTon</h3>
        </div>
    </div>
</div>

<br />
<fieldset>
    <legend>Thông tin nhập hàng</legend>
</fieldset>

@using (Html.BeginForm("NhapHangDon", "QuanLyNhapHang",FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.Hidden("MaSP", Model.MaSP)
    <div class="row">
        <div class="col-md-4">
            @{var lstNCC = (SelectList)ViewBag.NCC;}
            Nhà cung cấp: @Html.DropDownList("MaNCC", lstNCC, new { @class = "MaNCC" })
        </div>
        <div class="col-md-4">
            Số lượng nhập : @Html.TextBox("SoLuongNhap")
        </div>
        <div class="col-md-4">
            Đơn giá nhập :@Html.TextBox("DonGiaNhap")
        </div>
        <div class="col-md-4">

        </div>

    </div>

    <div class="clear right" style="text-align:right;">
        <br />
        <input type="submit" class="btn btn-primary" value="Import" onclick="return confirm('Bạn có muốn them don hang ?')"/>
    </div>
}


