﻿@model IEnumerable<ShopDienTu.Models.PhieuNhapViewModel>

@{
    ViewBag.Title = "ViewListImport";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaTV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNCC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaTV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNCC)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditImport", new { id=item.MaPN},new {@class="btn btn-primary" }) |
            @Html.ActionLink("Delete", "DeleteImport", new { id=item.MaPN }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure?');" })
        </td>
    </tr>
}
</table>
<div>
    @Html.ActionLink("Quay lại", "Index")
</div>

