﻿@model IEnumerable<ShopDienTu.Models.LoaiThanhVienViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr class="trFirstChild" data-id="-1">
            <th>Mã loại thành viên</th>
            <th>Tên loại thành viên</th>
            <th>Phân Quyền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaLoaiThanhVien</td>

                <td>@item.TenLoaiThanhVien</td>

                <td>@Html.ActionLink("Role permission", "PhanQuyen", new { id = item.MaLoaiThanhVien })</td>
            </tr>
        }
    </tbody>
</table>

