﻿@using ShopDienTu.Models;
@model LoaiThanhVienViewModel
@{
    ViewBag.Title = "PhanQuyen";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section jsFooter{
    <script>
    $(".ckb_click").click(function () {
        i = 0;
        $(".ckb_click").each(function () {
            if ($(this).is(':checked'))
            {
                $(this).attr("name", "[" + i + "].MaQuyen");
                i++;
            }
        })
    })
</script>    
}

<h2 style="color:red;">Loại Thành Viên: <font color="orange">@Model.TenLoaiThanhVien</font></h2>

@{
    IEnumerable<ShopDienTu.Model.Model.Quyen> lstQuyen = ViewBag.MaQuyen as IEnumerable<ShopDienTu.Model.Model.Quyen>;
    IEnumerable<ShopDienTu.Model.Model.LoaiThanhVien_Quyen> lstTVQuyen = ViewBag.LoaiTVQuyen as IEnumerable<ShopDienTu.Model.Model.LoaiThanhVien_Quyen>;
}

@using (Html.BeginForm("PhanQuyen","QuanLyPhanQuyen",FormMethod.Post))
{
    //Mã loại thành viên
    @Html.Hidden("MaLTV", Model.MaLoaiThanhVien);
    if (lstTVQuyen != null)
    {
        for (int j = 0; j < lstQuyen.Count(); j++)
        {
            int k = 0;
            for (int i = 0; i < lstTVQuyen.Count(); i++)
            {
                //so sánh item trong list quyền và thành viên quyền
                if (lstQuyen.ElementAt(j).MaQuyen == lstTVQuyen.ElementAt(i).MaQuyen)
                {
                    k++;
                    break;
                }
            }
            if (k != 0)
            {
                <div class="col-md-4" style="font-size:15pt;">
                    <input class="ckb_click" type="checkbox" checked="checked" name="@Url.Content("[" + j + "].MaQuyen")" value="@lstQuyen.ElementAt(j).MaQuyen" /> @lstQuyen.ElementAt(j).TenQuyen
                </div>
            }
            else
            {
                <div class="col-md-4" style="font-size:15pt;">
                    <input class="ckb_click" type="checkbox" name="@Url.Content("[" + j + "].MaQuyen")" value="@lstQuyen.ElementAt(j).MaQuyen" /> @lstQuyen.ElementAt(j).TenQuyen
                </div>
            }
            k = 0;
        }
    }
    else
    {
        for (int i = 0; i < lstQuyen.Count(); i++)
        {
            <div class="col-md-4">
                <input class="ckb_click" type="checkbox" name="@Url.Content("[" + i + "].MaQuyen")" value="@lstQuyen.ElementAt(i).MaQuyen" /> @lstQuyen.ElementAt(i).TenQuyen
            </div>
        }
    }
    <div class="clearfix"></div>
    <br />
    <input type="submit" value="Thực Hiện" class="btn btn-success" onclick="return confirm('Bạn có muốn phan quyen cho nhom thanh vien nay khong?')"/>
}
<br />
@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary" })
