﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootshop online Shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--Less styles -->
    <!-- Other Less css file //different less files has different color scheam
     <link rel="stylesheet/less" type="text/css" href="themes/less/simplex.less">
     <link rel="stylesheet/less" type="text/css" href="themes/less/classified.less">
     <link rel="stylesheet/less" type="text/css" href="themes/less/amelia.less">  MOVE DOWN TO activate
     -->
    <!--<link rel="stylesheet/less" type="text/css" href="themes/less/bootshop.less">
    <script src="themes/js/less.js" type="text/javascript"></script> -->
    <!-- Bootstrap style -->
    <link id="callCss" rel="stylesheet" href="~/Assets/Client/themes/bootshop/bootstrap.min.css" media="screen" />
    <link href="~/Assets/Client/themes/css/base.css" rel="stylesheet" media="screen" />
    <!-- Bootstrap style responsive -->
    <link href="~/Assets/Client/themes/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Assets/Client/themes/css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- Google-code-prettify -->
    <link href="~/Assets/Client/themes/js/google-code-prettify/prettify.css" rel="stylesheet" />
    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="~/Assets/Client/themes/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Assets/Client/themes/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Assets/Client/themes/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Assets/Client/themes/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Assets/Client/themes/images/ico/apple-touch-icon-57-precomposed.png">
    @*<link href="~/Assets/Admin/js/plugins/jqueri-ui/themes/smoothness/jquery-ui.css" rel="stylesheet" />*@
    <style type="text/css" id="enject">
        .imageClass {
            width:50px;
            height:50px;
            padding-right:5px
        }
    </style>
</head>
<body>
    @{Html.RenderAction("Header", "HomePage"); }
    <!-- Header End====================================================================== -->

    <div id="mainBody">
        <div class="container">
            <div class="row">
                <!-- Sidebar ================================================== -->
                @{Html.RenderAction("Menu", "HomePage");}
                <!-- Sidebar end=============================================== -->
                <div class="span9">
                    @if (TempData["AlertMessage"] != null)
                    {
                        <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                            @TempData["AlertMessage"]
                        </div>
                    }
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!-- Footer ================================================================== -->
    <div id="footerSection">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <h5>ACCOUNT</h5>
                    <a href="login.html">YOUR ACCOUNT</a>
                    <a href="login.html">PERSONAL INFORMATION</a>
                    <a href="login.html">ADDRESSES</a>
                    <a href="login.html">DISCOUNT</a>
                    <a href="login.html">ORDER HISTORY</a>
                </div>
                <div class="span3">
                    <h5>INFORMATION</h5>
                    <a href="contact.html">CONTACT</a>
                    <a href="register.html">REGISTRATION</a>
                    <a href="legal_notice.html">LEGAL NOTICE</a>
                    <a href="tac.html">TERMS AND CONDITIONS</a>
                    <a href="faq.html">FAQ</a>
                </div>
                <div class="span3">
                    <h5>OUR OFFERS</h5>
                    <a href="#">NEW PRODUCTS</a>
                    <a href="#">TOP SELLERS</a>
                    <a href="special_offer.html">SPECIAL OFFERS</a>
                    <a href="#">MANUFACTURERS</a>
                    <a href="#">SUPPLIERS</a>
                </div>
                <div id="socialMedia" class="span3 pull-right">
                    <h5>SOCIAL MEDIA </h5>
                    <a href="#"><img width="60" height="60" src="~/Assets/Client/themes/images/facebook.png" title="facebook" alt="facebook" /></a>
                    <a href="#"><img width="60" height="60" src="~/Assets/Client/themes/images/twitter.png" title="twitter" alt="twitter" /></a>
                    <a href="#"><img width="60" height="60" src="~/Assets/Client/themes/images/youtube.png" title="youtube" alt="youtube" /></a>
                </div>
            </div>
            <p class="pull-right">&copy; Bootshop</p>
        </div><!-- Container End -->
    </div>
    <!-- Placed at the end of the document so the pages load faster ============================================= -->
    <script src="~/Assets/Client/themes/js/jquery.js" type="text/javascript"></script>
    <script src="~/Assets/Client/themes/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Assets/Client/themes/js/google-code-prettify/prettify.js"></script>

    <script src="~/Assets/Client/themes/js/bootshop.js"></script>
    <script src="~/Assets/Client/themes/js/jquery.lightbox-0.5.js"></script>
    <script src="~/Assets/Admin/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Assets/Admin/js/common/alert.js"></script>
    <script src="~/Assets/Admin/js/plugins/jqueri-ui/jquery-ui.js"></script>
    <script src="~/Assets/Admin/js/common/common.js"></script>
    <!-- Themes switcher section ============================================================================================= -->
    <div id="secectionBox">
        <link rel="stylesheet" href="~/Assets/Client/themes/switch/themeswitch.css" type="text/css" media="screen" />
        <script src="~/Assets/Client/themes/switch/theamswitcher.js" type="text/javascript" charset="utf-8"></script>
    </div>

</body>
@RenderSection("jsFooter", required: false)
</html>