﻿@model ShopDienTu.Areas.Admin.Models.LoginModel  

<div id="header">
    <div class="container">
        <div id="welcomeLine" class="row">
            @{
                var session = (ShopDienTu.Common.UserLogin)Session[ShopDienTu.Common.CommonConstants.USER_SESSION];
                if (session != null)
                {
                    <div class="span6">Xin chào! <strong>@session.Name</strong></div>
                    <div>@Html.ActionLink("Đăng Xuất", "DangXuat", "ThanhVien", null, new { @class = "btn btn-primary btn-sm" })</div>
                }
            }
        </div>
        <!-- Navbar ================================================== -->
        <div id="logoArea" class="navbar">
            <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-inner">
                <div class="col-md-7">
                    <a class="brand" href="/"><img src="~/Assets/Client/themes/images/logo.png" alt="Bootsshop" /></a>                   
                    <form id="form" class="form-inline navbar-search" method="post" action="/tim-kiem">
                        <input class="srchTxt" type="text" id="txtKeyword" name="keyword" />
                        <input type="submit" value="Tìm kiếm" id="submitButton" class="btn btn-primary"/>
                    </form>
                </div>
                <div class="col-md-5">
                    <ul id="topMenu" class="nav pull-right">
                        <li class=""><a href="/">Trang chủ</a></li>
                        <li class=""><a href="contact.html">Liên hệ</a></li>
                        <li class="">
                            <a href="#login" role="button" data-toggle="modal" style="padding-right:0"><span>Đăng nhập</span> |</a>
                            <div id="login" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3>Đăng nhập</h3>
                                </div>
                                <div class="modal-body">
                                    @using (Ajax.BeginForm("DangNhap", "ThanhVien",new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Ketqua",InsertionMode = InsertionMode.Replace }))
                                    {
                                        <div class="control-group">
                                            <input type="text" id="inputEmail" placeholder="Tên tài khoản" name="TaiKhoan">
                                        </div>
                                        <div class="control-group">
                                            <input type="password" id="inputPassword" placeholder="Mật khẩu" name="MatKhau">
                                        </div>
                                        <div id="Ketqua" style="font-weight:bold;color:red;text-align:left"></div>
                                        <div class="control-group">
                                            <label class="checkbox">
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div>
                                        <button type="submit" name="type" class="btn btn-success">Đăng nhập</button>
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                    }
                                </div>
                            </div>
                        </li>
                        <li class=""><a href="/dang-ky" role="button" data-toggle="modal" style="padding-right:0"><span>Đăng ký</span></a></li>
                        <li class=""><a href="product_summary.html"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ 0 ] Itemes in your cart </span> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
