﻿@model IEnumerable<ShopDienTu.Models.SanPhamViewModel>

<div id="sidebar" class="span3">
    @{Html.RenderAction("Cart", "Cart"); }
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        @*<li class="subMenu open">
                <a> ELECTRONICS [230]</a>
                <ul>
                    <li><a class="active" href="products.html"><i class="icon-chevron-right"></i>Cameras (100) </a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Computers, Tablets & laptop (30)</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Mobile Phone (80)</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Sound & Vision (15)</a></li>
                </ul>
            </li>*@
        @foreach (var groupItem in Model.GroupBy(x=>x.LoaiSanPham))
        {
            <li class="subMenu">
                <a>@groupItem.Key.TenLoai</a>
                <ul style="display:none">
                    @foreach (var item in groupItem.GroupBy(x => x.NhaSanXuat))
                    {
                        var url = "/san-pham-" + item.Key.MaNSX;
                        <li><a href="@url">@item.Key.TenNSX</a></li>
                    }
                </ul>
            </li>
        }
    </ul>
    <br />
    <div class="thumbnail">
        <img src="~/Assets/Client/themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera" />
        <div class="caption">
            <h5>Panasonic</h5>
            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
        </div>
    </div><br />
    <div class="thumbnail">
        <img src="~/Assets/Client/themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
        <div class="caption">
            <h5>Kindle</h5>
            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
        </div>
    </div><br />
</div>
